/* Header CSS */

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
  margin: 10px;
}

a {
  color: black;
  margin: 10px;
}

span .nav {
  display: inline;
  padding: 20px 10px;
}

.nav {
  padding-right: 40px;
}

/* Main Content */

figcaption, .featurepiece, .news {
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  border: 1px solid black;
  margin-right: 32px;
}

main {
  border: 1px solid black;
  display: flex;
  position: relative;
  top: 100px;
  overflow: scroll;
  justify-content: space-between;

}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.news {
  border: 1px solid black;
}

.image {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0px;
  justify-content: center;
  height: 300px;
}
.feature.image {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
}

.two.news.image {
  background-image: url("../images/img-story-2.png");

}

.three.news.image {
  background-image: url("../images/img-story-3.png");
}
