/* Header CSS */

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30px;
}

.logo.img {
  max-width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
  margin: 10px;
}

a {
  color: black;
  margin: 10px;
}

span .nav {
  display: inline;
  padding: 20px 10px;
}

header .nav {
  padding-right: 40px;
}

/* Main Content */

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin-right: 32px;
}

main {
  display: flex;
  position: relative;
  top: 120px;
  overflow: scroll;
  justify-content: space-between;

}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
  justify-content: flex-start;

}

.column.small {
  width: 240px;
  flex-direction: column;
}

.image {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0px;
  height: 300px;
  text-align: center;
  align-items: center;
}

.feature.image {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
  align-items: center;
}

#smaller-stories {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.figcaption {
  display: flex;
}

.text.news {
  height: 250px;
}

.two.news.image {
  background-image: url("../images/img-story-2.png");
}

.two.news, .three.news {
  display: flex;
  flex-direction: column;
  width: 300px;
  letter-spacing: -0.03em;
}

.bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: block;
  padding: 15px;
  border-bottom: 1px solid black;
}

.bites.news h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.three.news.image {
  background-image: url("../images/img-story-3.png");
}

.five.news.image {
  background-image: url("../images/img-story-1.png");
}

.caption.feature {
  text-align: left;
}

img {
  width: 100%;
}

p {
  font-size: 17px;
}

h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
}
footer {
 background-color: MediumAquamarine;
 margin: auto;
 font-family: Verdana;
 font-size: 12px;
 position: relative;
 top: 140px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 300px;
}

footer .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

 footer .nav {
  display: inline;
}

footer .info {
  height: 55px;
  display: flex;
  align-items: center;
}
